<header class="app-header">
  <div class="logo-container">
    <img src="../../../assets/logo.jpeg" alt="Logo" class="logo" />
    <span class="logo-text">Rice Mill</span>
  </div>

  <!-- <button
    class="menu-btn"
    [class.open]="isMenuOpen"
    (click)="toggleMenu()"
    aria-label="Toggle Menu"
  >
    ☰
  </button> -->

  <button
    class="menu-btn"
    [class.open]="isMenuOpen"
    (click)="toggleMenu()"
    aria-label="Toggle Menu"
  >
    <span></span>
    <span></span>
    <span></span>
  </button>

  <!-- <nav [class.active]="isMenuOpen">
    <a
      *ngFor="let link of navLinks"
      [routerLink]="link.path"
      routerLinkActive="active-link"
      [routerLinkActiveOptions]="{ exact: true }"
      (click)="closeMenu()"
    >
      {{ link.label }}
    </a>
  </nav> -->

  <nav [class.active]="isMenuOpen">
    <a
      routerLink="/home"
      routerLinkActive="active-link"
      [routerLinkActiveOptions]="{ exact: true }"
      (click)="closeMenu()"
      >Home</a
    >
    <a
      routerLink="/product"
      routerLinkActive="active-link"
      [routerLinkActiveOptions]="{ exact: true }"
      (click)="closeMenu()"
      >Product</a
    >

    <a
      routerLink="/contact"
      routerLinkActive="active-link"
      [routerLinkActiveOptions]="{ exact: true }"
      (click)="closeMenu()"
      >Contact</a
    >
  </nav>
</header>
