<!-- <footer class="footer">
  <mat-divider></mat-divider>
  <div class="footer-content">
    <div class="footer-left">
      <p>&copy; 2025 Shree Ganesh Rice Mill. All rights reserved.</p>
      <p class="small-text">Managed by Digital Life Solutions</p>
    </div>
    <div class="footer-right">
      <a href="#"><mat-icon>phone</mat-icon></a>
      <a href="#"><mat-icon>email</mat-icon></a>
      <a href="#"><mat-icon>location_on</mat-icon></a>
    </div>
  </div>
</footer> -->

<footer class="footer">
  <mat-divider></mat-divider>
  <div class="footer-content">
    <div class="footer-left">
      <h3>Shree Ganesh Rice Mill</h3>
      <p>&copy; 2025. All rights reserved.</p>
      <p class="small-text">Managed by Digital Life Solutions</p>
    </div>
    <div class="footer-right">
      <a href="tel:+919999999999" matTooltip="Call Us" aria-label="Call">
        <mat-icon>phone</mat-icon>
      </a>
      <a
        href="mailto:info@example.com"
        matTooltip="Send Email"
        aria-label="Email"
      >
        <mat-icon>email</mat-icon>
      </a>
      <a
        href="https://maps.app.goo.gl/G8vVTSgQRYz5i53s9"
        target="_blank"
        matTooltip="View Location"
        aria-label="Location"
      >
        <mat-icon>location_on</mat-icon>
      </a>
    </div>
  </div>
</footer>
